This notebook builds a sample DB for a bookstore using SQLite.

In [2]:
from typing import Annotated
import sqlite3

In [8]:
# Let's create an SQL lite database with sample data
def create_table(cursor, create_table_sql):
    """ Execute a SQL statement to create a table. """
    cursor.execute(create_table_sql)

def insert_data(cursor, insert_sql, data):
    """ Insert data into a table using the provided SQL statement. """
    cursor.executemany(insert_sql, data)


database = 'bookstore.db'

with sqlite3.connect(database) as conn:
    cursor = conn.cursor()

     # Create the Authors table
    sql_create_authors_table = """
        CREATE TABLE IF NOT EXISTS Authors (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            biography TEXT
        );"""
    create_table(cursor, sql_create_authors_table)

    # Create the Publishers table
    sql_create_publishers_table = """
        CREATE TABLE IF NOT EXISTS Publishers (
            d INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            address TEXT
        );"""
    create_table(cursor, sql_create_publishers_table)

# CREATE TABLE suppliers (
#     supplier_id   INTEGER PRIMARY KEY,
#     supplier_name TEXT    NOT NULL,
#     group_id      INTEGER,
#     FOREIGN KEY (group_id)
#     REFERENCES supplier_groups (group_id) 
#        ON UPDATE SET NULL
#        ON DELETE SET NULL
# );

    # Create the Books table
    sql_create_books_table = """
        CREATE TABLE IF NOT EXISTS Books (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            title TEXT NOT NULL,
            price REAL,
            author_id INTEGER NOT NULL, FOREIGN KEY (author_id) REFERENCES Authors(id)
        ); """
    create_table(cursor, sql_create_books_table)


    # Insert sample data into Authors table
    insert_authors_sql = "INSERT INTO Authors (name, biography) VALUES (?, ?)"
    authors_data = [
        ('Harper Lee', 'Author of To Kill a Mockingbird'),
        ('George Orwell', 'Author of 1984')
    ]
    insert_data(cursor, insert_authors_sql, authors_data)
    

    # Insert sample data into Books table
    insert_books_sql = "INSERT INTO Books (title, author_id, price) VALUES (?, ?, ?)"
    books_data = [
            ('To Kill a Mockingbird', 1, 10.99),
            ('1984', 2, 8.99)
        ]
    insert_data(cursor, insert_books_sql, books_data)


    conn.commit()
    cursor.close()